<episerver xmlns="http://EPiServer.Configuration.EPiServerSection">
  <applicationSettings globalErrorHandling="RemoteOnly" disableVersionDeletion="false"
    httpCacheability="Public" uiEditorCssPaths="" urlRebaseKind="ToRootRelative"
    pageUseBrowserLanguagePreferences="false" uiShowGlobalizationUserInterface="false"
    subscriptionHandler="EPiServer.Personalization.SubscriptionMail,EPiServer"
    uiMaxVersions="20" pageValidateTemplate="false" utilUrl="~/util/"
    uiUrl="~/EPiServer/CMS/" />
  <workflowSettings>
    <workflowHost type="EPiServer.WorkflowFoundation.AspNetWorkflowManager,EPiServer.WorkflowFoundation" />
    <externalServices>
      <externalService type="EPiServer.WorkflowFoundation.Workflows.ApprovalService,EPiServer.WorkflowFoundation" />
      <externalService type="EPiServer.WorkflowFoundation.Workflows.ReadyForTranslationService,EPiServer.WorkflowFoundation" />
      <externalService type="EPiServer.WorkflowFoundation.Workflows.RequestForFeedbackService,EPiServer.WorkflowFoundation" />
    </externalServices>
  </workflowSettings>
</episerver>